
                                                                                                                                                                                                               .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #100b0b;
    color: #9c8b07;
    text-align: center;
}
